* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}
.navbar {
    /* background: rgba(255, 255, 255, 0.34);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.3); */
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-bottom: 1px solid rgb(113, 113, 202);
    padding: 10px 20px;
    font-size: 20px;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero {
    background-image: url('../../public/images/orang_ronda.png');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    width: 100%;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-button {
    padding: 6px;
    border-radius: 4px;
    background-color: rgb(113, 113, 202);
}
.logout-button {
    padding: 6px;
    border-radius: 4px;
    background-color: rgb(240, 60, 60);
}

