.calendar-container {
    /* max-width: 1200px; */
    margin: auto;
    margin-top: 20px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.day-cell {
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    padding: 0.5rem;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-cell:hover {
    background-color: #e8eaee;
}

.day-number {
    font-size: 0.875rem;
    color: #6b7280;
}

